/* .viewlist-container{
    display: flex;
    justify-content: space-between;
}

.viewlist-container div{
    flex-basis: 100%
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container form{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}